@charset "utf-8";
body {
	padding-top: 50px;
	font-family: Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-style: normal;
	font-weight: 400;
}
img {
	width: 100%;
	height: auto;
}
.toc {
	padding-left: 0px;
	list-style-type: none;
	font-size: 16px;
	font-weight: bold;
}
.toc li:hover {
	background-color: #D5D5D5;
}
.toc li {
	border: 1px solid rgba(128,128,128,1.00);
	margin-bottom: 8px;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 10px;
	border-radius: 3px;
}
.toc li small {
	font-weight: normal;
}
#viewport {
	margin-top: 16px;
	position: relative;
}
.view {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
}
.image-3d {
	width: 100%;
	list-style-type: none;
	padding-left: 0px;
	margin-bottom: 0px;
}
.image-3d li {
	float: left;
	width: 50%;
}
.image-ana img {
	height: auto;
	width: auto;
}
#loading div {
	width: 44px;
	height: 44px;
	background-position: center center;
	background-image: url('../fancybox/fancybox_loading.gif');
	background-repeat: no-repeat;
}
#loading {
	width: 44px;
	height: 44px;
	position: fixed;
	background-image: url('../fancybox/fancybox_sprite.png');
	top: 50%;
	left: 50%;
	margin-top: -22px;
	margin-left: -22px;
	background-position: 0 -108px;
	opacity: 0.8;
	cursor: pointer;
	z-index: 8060;
}